
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@600&family=Righteous&family=Roboto+Mono:wght@100;500&family=Source+Sans+Pro&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 2px;
}

/**********************************/
/* 0 . Variáveis
/* 1 . Container
/* 2 . Header
/* 3 . Menu
/* 4 . Home
/* 5 . Sobre
/* 6 . Skills
/* 7 . Projetos
/* 8 . Serviços
/* 9 . Contato
/* 10. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
    font-size: 62.5%; /* alteracao do REM para que a insercao dos valores seja semelhante a pixels */
    --ff-primary: "Poppins", sans-serif;
    /* Cores HEXADECIMAL */
    --clr-fundo-site: #121216;
    --clr-titulos:  #27FFE3;
    --clr-texto:#F5F5F5;
    --clr-menu-links: #F5F5F5;
    --clr-bg-cards: #0C0B0E;
    --clr-footer-bg: #0C0B0E;

    --clr-titulo-gradient: linear-gradient(to right, #0c0173, #9307f1,
    #7109e7 , #1100ff );

    --clr-botao: #121216;
    --clr-botao-hover: rgba(21, 17, 34, 0.467);
    --clr-borda-botao: #1BA6E1;


    --clr-icones:  #D5D5F6;
    --clr-icones-hover:#4040BF;

    /* Tamanho Fontes */
    --h1-font-size: 3.8rem;
    --h2-font-size: 3.5rem;
    --h3-font-size: 3.0rem;
    --h4-font-size: 2.5rem;
    --big-font-size: 2.6rem;
    --medium-font-size: 2.1rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.3rem;
    --smaller-font-size: 0.9rem;

}

.light:root{
    --clr-fundo-site: #F5F5F5;
    --clr-titulos:  #7109e7;
    --clr-texto:#121216;
    --clr-menu-links: #121216;
    --clr-bg-cards: #E3E3E8;
    --clr-footer-bg: #E3E3E8;
}

/**********************************/
/* 1. Estilos gerais
/**********************************/

html {
	scroll-behavior: smooth;
}

body {
    background-color: var(--clr-fundo-site);
    font-family: var(--ff-primary);
    padding: 0;
    margin: auto;
}
 
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/*****************************************************/
/* Menu esta em um arquivo externo assets/css/menu.css
/*****************************************************/
body{
    margin: 0 auto;
    max-width: 1400px;
}

/*container com espaçamentos dentro e fora*/
.f-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 45px 80px;
    flex-wrap: wrap;
}

/*container centralizado*/
.f-container-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 45px 80px; 
    flex-wrap: wrap;
}

.titulo{
    font-size: var(--h2-font-size);
    color: var(--clr-titulos);
    text-align: center;
    margin: 70px 0;
}

.subtitulo{
    color: var(--clr-texto);
    font-size: var(--normal-font-size);
    text-align: center;
}

/**********************************/
/* Home */ 
/**********************************/
.home__col1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.home__col1 img{
    width: 40px;
    height: auto;
    padding: 10px 0;
}

.home__col2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 40%;
}

.home__col2 h1{
    font-size: var(--h1-font-size);
    background-image: var(--clr-titulo-gradient);
    background-clip: text;
    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

  /* Apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;
}

.home__col2 h3{
    margin-top: 0;
    font-size: var(--h3-font-size);
    color: var(--clr-texto);
}

.home__col2 p{
    margin-top: 0;
    font-size: var(--medium-font-size);
    color: var(--clr-texto);
}

.home__col2 a{
    width: 250px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    background-color: var(--clr-fundo-site);
    padding: 10px;
    border: 2px solid var(--clr-borda-botao);
    color: var(--clr-texto);
    font-size: var(--normal-font-size);
}

.home__col2 a:hover{
    background-color: var(--clr-botao-hover);
}

.home__col3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

@media screen and (max-width:779px){
    .f-container{
        flex-direction: column;
        margin-top: 0;
        margin: 0;
    }

    .f-container-center{
        flex-direction: column;
    }

    .home__col1 {
        order: 1;
        flex-direction: row;
        width: 40%;
        margin-top: 15px;
    }
    .home__col1--script{
        display: none;
    }

    .home__col2{
        order: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .home__col3 {
        display: none;
    }
}

/**********************************/
/* Sobre */ 
/**********************************/

.sobre__col1 {
    width: 270px;
    margin-right: 10px;
    overflow: hidden;
}

.sobre__col1 img{
    width: 250px;
    height: auto;
    border-radius: 50%;
}

.sobre__col2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: start;
    overflow: hidden;
}

.sobre__col2 p{
    font-size: var(--normal-font-size);
    color: var(--clr-texto);
}

.sobre__col2 a{
    width: 250px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    background-color: var(--clr-fundo-site);
    padding: 10px;
    border: 2px solid var(--clr-borda-botao);
    color: var(--clr-texto);
    font-size: var(--normal-font-size);
}

.sobre__col2 a:hover{
    background-color: var(--clr-botao-hover);
}

@media screen and (max-width:779px){
    .sobre__col1 {
        width: 100%;
        margin: 0;
    }

    .sobre__col1 img{
        margin-left: 20px; /* hack centralizar imagem*/
        width: 75%;
        border-radius: 50%;
    }

    .sobre__col2{
        width: 100%;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }

    .sobre__col2 a{
        width: 200px;
        height: auto;
    }
}
/**********************************/
/* Skills */ 
/**********************************/
.skills{
    width: 100%;
}

.skills__card{
    background-color: var(--clr-bg-cards);
    width: 270px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 25px; 
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

#skill--card1::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: var(--clr-bg-cards);
    border-radius: 20px;
}

#skill--card1::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 120%;
    border-radius: 20px;
    background: linear-gradient(#EF652A, #EF652A);
    -webkit-box-shadow: -2px 0px 43px 48px #EF652A; 
    box-shadow: -2px 0px 43px 48px #EF652A;
    animation: cardsAnimate 7s linear infinite; /*animacao*/
}


#skill--card2::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: var(--clr-bg-cards);
    border-radius: 20px; 
}

#skill--card2::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 120%;
    border-radius: 20px;
    background: linear-gradient(#2196F3, #2196F3);
    -webkit-box-shadow: -2px 0px 43px 48px #2196F3; 
    box-shadow: -2px 0px 43px 48px #2196F3;
    animation: cardsAnimate 7s linear infinite; /*animacao*/ 
}

#skill--card3::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: var(--clr-bg-cards);
    border-radius: 20px; 
}

#skill--card3::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 120%;
    border-radius: 20px;
    background: linear-gradient(#D5B931, #D5B931);
    -webkit-box-shadow: -2px 0px 43px 48px #D5B931; 
    box-shadow: -2px 0px 43px 48px #D5B931;
    animation: cardsAnimate 7s linear infinite; /*animacao*/ 
}

#skill--card4::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: var(--clr-bg-cards);
    border-radius: 20px; 
}

#skill--card4::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 120%;
    border-radius: 20px;
    background: linear-gradient(#F05033, #F05033);
    -webkit-box-shadow: -2px 0px 43px 48px #F05033; 
    box-shadow: -2px 0px 43px 48px #F05033;
    animation: cardsAnimate 7s linear infinite; /*animacao*/ 
}

#skill--card5::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: var(--clr-bg-cards);
    border-radius: 20px; 
}

#skill--card5::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 120%;
    border-radius: 20px;
    background: linear-gradient(#370F4B, #370F4B);
    -webkit-box-shadow: -2px 0px 43px 48px #370F4B; 
    box-shadow: -2px 0px 43px 48px #370F4B;
    animation: cardsAnimate 7s linear infinite; /*animacao*/ 
}

#skill--card6::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: var(--clr-bg-cards);
    border-radius: 20px; 
}

#skill--card6::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 120%;
    border-radius: 20px;
    background: linear-gradient(#539E43, #539E43);
    -webkit-box-shadow: -2px 0px 43px 48px #539E43; 
    box-shadow: -2px 0px 43px 48px #539E43;
    animation: cardsAnimate 7s linear infinite; /*animacao*/ 
}

@keyframes cardsAnimate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.skills__card h4{
    position: relative;/* essas duas linhas fazem o conteudo voltar p frente */
    z-index: 10;
    font-size: var(--h4-font-size);
    color: var(--clr-texto);
    font-weight:bolder;
}

.skills__card h5{
    position: relative;/* essas duas linhas fazem o conteudo voltar p frente */
    z-index: 10;
    font-size: 1.9rem;
    color: var(--clr-texto);
    font-weight:bolder;
}

.skills__card img{
    position: relative;/* essas duas linhas fazem o conteudo voltar p frente */
    z-index: 10;
    width: 29%;
}

.skills__card p{
    position: relative;/* essas duas linhas fazem o conteudo voltar p frente */
    z-index: 10;
    font-size: var(--small-font-size);
    color: var(--clr-texto);
    text-align: center;
    padding: 0 5px;
}

.mais__skills{
    list-style: none;
    text-align: center;
    font-size: var(--medium-font-size);
    color: var(--clr-texto);
    cursor: pointer;
}

.mais__skills__conteudo{
    text-align: center;
    font-size: var(--normal-font-size);
    color: var(--clr-texto);
}

/*breakpoint tablets e celulares*/
@media screen and (max-width:600px){
    .skills__card{
        margin: 15px 0;
    }
}

/**********************************/
/* Qualificaçoes */ 
/**********************************/

.qualificacoes{
    width: 100%;
}

.certificados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    transition: 1s;
    margin: 5px; /* nao deixa os certificados colarem */
    overflow: hidden;
}

.certificados:hover{
    border-radius: 15px;
    transform: scale(1.3);
    cursor: pointer;
}

.certificados__conteudo{
    width: 100%; 
}

.certificados__descricao{
    font-size: var(--normal-font-size);
    color: var(--clr-texto);
}

.mais__qualificacoes{
    color: var(--clr-texto);
    font-size: var(--normal-font-size);
    cursor: pointer;
    list-style: none;
    text-align: center;
    margin-bottom: 60px;
}

.mais__qualificacoes:hover{
    color: var(--clr-titulos);
}


.mais__qualificacoes--descricao{
    font-size: var(--medium-font-size);
    color: var(--clr-texto);
    text-align: center;
}
@media screen and (max-width:779px){
    .certificados:hover{
        transform: none;
    }
}
/**********************************/
/* Projetos */ 
/**********************************/

.projetos{
    width: 100%;
}

.projetos__card{
    width: 350px;
    height: 400px;
    padding: 3px 3px;
    border-radius: 10px;
    margin: 10px; /* nao deixar os cards colarem*/
    background-color: var(--clr-bg-cards);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.projetos__card:hover{
    cursor: pointer;
    border: 3px solid var(--clr-texto);
}

.projetos__card--titulo{
    font-size: var(--medium-font-size);
    color: var(--clr-texto);
    text-align: center;
}

.projetos__card--preview{
    width: 100%;
    height: auto;
}

.projetos__card a{
    width: 250px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    background-color: var(--clr-fundo-site);
    padding: 10px;
    border: 2px solid var(--clr-borda-botao);
    color: var(--clr-texto);
    font-size: var(--normal-font-size);
}

.projetos__card a:hover{
    background-color: var(--clr-botao-hover);
}

@media screen and (max-width:779px){
    .projetos__card{
        margin-top: 50px;
    }
}
/**********************************/
/* Serviços */ 
/**********************************/



/**********************************/
/* Contato */ 
/**********************************/



/**********************************/
/* Footer */
/**********************************/

.footer{
    width: 100%;
    height: 90px;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-footer-bg);
    overflow: hidden;
}

.footer__description{
    font-size: var(--normal-font-size);
    color: var(--clr-texto);
    line-height: 1px;
}